# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/build/
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
